*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(/diego-jimenez-A-NVHPka9Rk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}